:root {
  --font-color: #757575;
  --title-color: #212121;
  --accient-color: #2196f3;
  --icons-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

::selection {
  color: #ffffff;
  background-color: var(--accient-color);
}

body {
  font-family: Roboto, sans-serif;
  color: #757575;
  font-size: 14px;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: 14px;
}

.container {
  width: 1200px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 94px 0;
}

/* logo */
.logo {
  margin-right: 93px;

  font-family: Raleway, serif;
  color: var(--accient-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header {
  color: #000000;
}
.logo-footer {
  color: #ffffff;
}

/* header|footer navigation */

.header .link,
.footer .link {
  transition: 250ms var(--timing-function);

  color: var(--title-color);
}

.header .link:hover,
.header .link:focus,
.footer .link:hover,
.footer .link:focus,
.header .link.contacts:focus,
.header .link.contacts:hover {
  color: var(--accient-color);
  fill: var(--accient-color);
}

.header .link.current {
  position: relative;
  color: var(--accient-color);
}

.header .link.current::after {
  position: absolute;
  content: '';
  bottom: 0;

  border-radius: 2px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accient-color);
}

/* Header */

.header .container {
  display: flex;
  align-items: center;
}

.header .list {
  display: flex;
  gap: 50px;
}

.header .link {
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
}

.header .contacts {
  transition: 250ms var(--timing-function);

  display: flex;
  margin-left: auto;
  align-items: center;
}

.header .contacts-item:first-child {
  margin-right: 50px;
}

.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border: 1px solid #ececec;
}

.contacts-item {
  display: flex;
  align-items: center;
}

.header .link.contacts {
  transition: 250ms var(--timing-function);

  color: var(--font-color);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* section hero */

.hero {
  padding: 200px 0;
  margin: 0 auto;
  max-width: 1600px;
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/Img-17.jpg');
  background-color: #2f303a;
}

.hero .hero-title {
  width: 696px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  color: #ffffff;
  font-size: 44px;
  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .hero-button {
  display: flex;
  min-width: 200px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  font-family: inherit;
  background-color: var(--accient-color);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.19;
  letter-spacing: 0.06em;
}

/* Section benefits */

.benefits {
  padding-bottom: 0;
}

.benefits-list {
  display: flex;
  gap: 30px;
}

.benefits-item {
  flex-basis: 270px;
}

.benefits-background {
  display: flex;
  content: '';
  background: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.benefits .benefits-subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.benefits .benefits-caption {
  letter-spacing: 0.03em;
  line-height: 1.71;
}

/* Section work */

.work .work-title {
  margin-bottom: 50px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.work .work-list {
  display: flex;
  gap: 30px;
}

.work-item {
  position: relative;
}

.work-caption {
  position: absolute;
  bottom: 0;

  padding: 27px 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #fff;
  text-align: center;
}

/* Section team */

.team {
  background-color: #f5f4fa;
}

.team-wrapper {
  padding: 30px 0;
}

.team-list {
  display: flex;
  gap: 30px;
  margin: 0;
  margin-left: 0;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team .team-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team .team-subtitle {
  margin-bottom: 10px;

  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  color: var(--title-color);
  letter-spacing: 0.03em;
}

.team .team-caption {
  margin-bottom: 16px;

  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon-list {
  transition: 250ms var(--timing-function);

  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  fill: var(--icons-color);
}

.icon-list:hover,
.icon-link:hover,
.icon-list:focus,
.icon-link:focus {
  background-color: var(--accient-color);
  fill: #fff;
}

/* Cliens */
.clents-title {
  margin-bottom: 50px;

  text-align: center;
  color: var(--title-color);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.clients {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.icon-clients {
  height: 60px;
  width: 106px;
}

.clients-list {
  transition: 250ms var(--timing-function);

  display: flex;
  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: var(--icons-color);
}

.clients-list:hover {
  fill: var(--accient-color);
  border: 1px solid var(--accient-color);
}

/* Footer */

.links {
  margin-left: 70px;
}

.sent-email {
  margin-left: auto;
}

.footer {
  display: flex;
  padding: 60px 0;
  background-color: #2f303a;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer .adress {
  margin-top: 20px;

  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}

.footer .link {
  transition: 250ms var(--timing-function);

  margin-top: 9px;

  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.icon-list.footer {
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
}

.links-title {
  margin-bottom: 20px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.icon-link {
  transition: 250ms var(--timing-function);

  display: flex;
  align-items: center;
  padding: 12px;

  border-radius: 50%;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.form-footer-label {
  display: block;
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.form-footer-input {
  margin-right: 12px;

  padding: 15px 16px;
  width: 357px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 14px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-footer {
  display: inline-flex;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 29px;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  font-family: inherit;
  background-color: var(--accient-color);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.19;
  letter-spacing: 0.06em;
  gap: 10px;
  cursor: pointer;

  fill: #fff;
}

.icon-send-email {
  width: 24px;
  height: 24px;
}

/* Filtres */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button-filtres {
  transition: 250ms var(--timing-function);

  padding: 6px 22px;

  font-family: inherit;
  font-size: 16px;
  background-color: #f5f4fa;
  color: #000000;
  font-weight: 500;
  line-height: 1.62;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.03em;
}

.button-filtres:hover,
.button-filtres:focus {
  background-color: var(--accient-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  gap: 8px;
}

.filtres .filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item .filtres-link {
  display: inline-block;
  transition: 250ms var(--timing-function);
}

.item .filtres-link:hover,
.item .filtres-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.list-caption {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.filtres-img {
  position: relative;
  overflow: hidden;
  display: flex;
  margin: 0;
  padding: 0;
}

.filtres .filter-titles {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.filtres .filter-caption {
  margin-top: 4px;
  margin-bottom: 0;

  color: var(--font-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.list-description {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: 250ms var(--timing-function);

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #fff;

  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
}

.filtres-link:hover .list-description {
  transform: translateY(0%);
  opacity: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  visibility: visible;
  transition: 250ms var(--timing-function);
  transform: scale(1);

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scale(2);
}

/* Form field */

.form-field {
  margin-bottom: 10px;
}

.form-field-inner {
  position: relative;
}

.form-field-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-field-input {
  resize: none;
  padding: 12px 42px 12px;

  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;
  outline: transparent;
}

.form-field-input:hover,
.form-field-input.textarea:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: var(--accient-color);
}

.form-field-input:focus + .icon-modal {
  fill: var(--accient-color);
}

.form-field-input.textarea {
  resize: none;
  padding: 12px 16px 12px;

  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  fill: #212121;
  transition: 250ms var(--timing-function);
}

/* checkbox */

.form-field-checkbox {
  position: relative;
  margin-top: 20px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 8px;
}

.checkbox {
  position: absolute;
  top: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
}

.icon-box {
  background-origin: border-box;
  appearance: initial;
  border-radius: 2px;
  transition: background-color 250ms;
}

.icon-uncheck {
  transition: opacity 250ms;
}

.checkbox:checked + .icon-box {
  background-color: var(--accient-color);
}

.checkbox:checked + .icon-box .icon-uncheck {
  opacity: 0;
}

.checkbox:checked + .icon-box .icon-check {
  fill: #fff;
}

.icon-check {
  fill: transparent;
  transition: fill 250ms;
}

.agreement {
  color: var(--accient-color);
}

.modal-button {
  display: flex;
  min-width: 200px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  font-family: inherit;
  background-color: var(--accient-color);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.19;
  letter-spacing: 0.06em;
}

.agreement {
  text-decoration: underline;
}

/* Modal window */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  display: inline-flex;
  transition: 250ms var(--timing-function);

  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
  cursor: pointer;
}

.modal-close:hover {
  fill: var(--accient-color);
}

.modal-title {
  margin-bottom: 12px;

  color: var(--title-color);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700;
}
